apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sealed-secrets-metadata-webhook.fullname" . }}
  labels:
    {{- include "sealed-secrets-metadata-webhook.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "sealed-secrets-metadata-webhook.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "sealed-secrets-metadata-webhook.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: SEALED_SECRETS_MDHOOK_CONFIG
              value: /config/config.json
            - name: SEALED_SECRETS_MDHOOK_TLS_KEY
              value: /tls/tls.key
            - name: SEALED_SECRETS_MDHOOK_TLS_CERT
              value: /tls/tls.crt
          volumeMounts:
            - name: config
              mountPath: /config/
              readOnly: true
            - name: tls
              mountPath: /tls/
              readOnly: true
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ include "sealed-secrets-metadata-webhook.fullname" . }}-config
        - name: tls
          secret:
            secretName: {{ include "sealed-secrets-metadata-webhook.fullname" . }}-tls
      {{- with .Values.extraVolumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
