apiVersion: v1
kind: Service
metadata:
  name: {{ include "sealed-secrets-metadata-webhook.fullname" . }}
  labels:
    {{- include "sealed-secrets-metadata-webhook.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 443
      targetPort: 8443
      protocol: TCP
      name: http
  selector:
    {{- include "sealed-secrets-metadata-webhook.selectorLabels" . | nindent 4 }}
